---
title: Blog
id: 4
layout: page
isInNav: true
---

<div class="row">

    <div class="col-lg-7">

        {% for post in site.posts %}

        <div class="card bg-trans border-left-0 border-right-0 border-top-0 mb-5">

            {% if post.image %}
            <img class="card-img-top" src="{{ post.image | relative_url }}"
                 alt="Image">
            {% endif %}

            <div class="card-block">
                <a href="{{ post.url | relative_url }}"><h3 class="card-title">{{ post.title | escape }}</h3></a>
                <p class="f-sm text-gray-light f-sans">{{ post.date | date: "%b %-d, %Y" }}</p>
                <p>{{ post.excerpt }}</p>
            </div>
        </div>

        {% endfor %}

    </div>

    <div class="col-lg-4 offset-lg-1 mt-4 mt-lg-0">

        <div class="card card-white">
            <img class="card-img-top"
                 src="{{ site.posts.last.image | default: site.image-placeholder-2 | relative_url }}"
                 alt="Image">
            <div class="card-block">
                <p class="text-uppercase f-sans f-bold f-sm">Featured</p>
                <h4 class="pt-3"><a href="{{ site.posts.last.url | relative_url }}">
                    {{site.posts.last.title}}</a></h4>
                <p class="text-gray-light">{{site.posts.last.excerpt | remove: '
                <p>' | remove: '</p>' | truncatewords:15 }}</p>
            </div>
        </div>

        <div class="card card-white bg-info mt-4">
            <div class="card-block">
                <p class="text-uppercase text-white f-sans f-bold f-sm">New Tip</p>
                <h4 class="pt-3"><a href="{{ site.posts.first.url | relative_url }}">
                    {{site.posts.first.title}}</a></h4>
                <p>{{site.posts.last.excerpt | remove: '
                <p>' | remove: '</p>' | truncatewords:15 }}</p>
                <p><a href="{{ 'guide.html' | relative_url }}"
                      class="f-sans f-sm">See more tips in our helpful guid</a></p>
            </div>
        </div>

    </div>

</div>