<footer class="footer footer-main py-5 f-sans">
    <div class="container">

        <h3 class="text-uppercase f-med f-ls-minus">Get in touch</h3>
        <hr class="jumbotron-hr">

        <p class="text-gray-light">{{site.description}}</p>

        <div class="row py-5">

            <div class="col-md-6">

                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="9" placeholder="Message"></textarea>
                    </div>
                    <button class="btn btn-outline-primary" type="submit">Send</button>
                </form>

            </div>

            <div class="col-md-5 offset-md-1">

                <ul class="list-unstyled mt-5 mt-md-0">
                    <li>
                        <div class="pb-3 f-med">{{site.title}}</div>
                        {{site.address}}
                    </li>
                    <li class="pt-3">{{site.phone}}</li>
                    <li class="pt-3"><a href="mailto:{{site.email}}">{{site.email}}</a></li>
                    <li class="pt-3"><a href="{{site.twitter}}">twitter</a></li>
                    <li class="pt-3"><a href="{{site.facebook}}">facebook</a></li>
                    <li class="pt-3"><a href="{{site.instagram}}">instagram</a></li>
                </ul>

            </div>

        </div>

        <hr class="jumbotron-hr">
        <p class="f-xs text-gray-light">&copy; {{site.title}}. All rights reserved</p>


    </div>
</footer>


<script src="{{ 'assets/js/jquery.js' | relative_url }}"></script>
<script src="{{ 'assets/js/tether.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/bootstrap.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/app.js' | relative_url }}"></script>