<footer class="footer footer-main py-5 f-sans">
    <div class="container">

        <h3 class="text-uppercase f-med f-ls-minus" id="contact">Get in touch</h3>
        <hr class="jumbotron-hr">

        <div class="row py-5">
            {% if page.url == '/' %}
            <div class="col-md-6">
                <form action="https://formspree.io/{{site.email}}" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Your name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="_replyto" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="9" name="message" placeholder="Message" maxlength="10000"
                                  required></textarea>
                    </div>
                    <input class="btn btn-outline-primary" type="submit" value="Send">
                </form>
            </div>
            <div class="col-md-5 offset-md-1">
                <ul class="list-unstyled mt-5 mt-md-0">
                    <li class="text-gray-light">{{site.description}}</li>
                    <li class="pt-4">{{site.address}}</li>
                    <li class="pt-3">{{site.phone}}</li>
                    <li class="pt-4">
                        <a href="{{site.facebook}}" class="pr-3"><span class="icon-social facebook-active"></span></a>
                        <a href="{{site.twitter}}" class="pr-3"><span class="icon-social twitter-active"></span></a>
                        <a href="{{site.linkedin}}"><span class="icon-social linkedin-active"></span></a>
                    </li>
                </ul>
            </div>
            {% else %}
            <div class="col-md-6">
                <ul class="list-unstyled mt-0">
                    <li class="text-gray-light">{{site.description}}</li>
                    <li class="pt-3 f-lg"><a href="{{site.url}}/#contact">Write us a letter</a></li>
                </ul>
            </div>
            <div class="col-md-5 offset-md-1">
                <ul class="list-unstyled mt-5 mt-md-0">
                    <li>{{site.address}}</li>
                    <li class="pt-3">{{site.phone}}</li>
                    <li class="pt-4">
                        <a href="{{site.facebook}}" class="pr-3"><span class="icon-social facebook-active"></span></a>
                        <a href="{{site.twitter}}" class="pr-3"><span class="icon-social twitter-active"></span></a>
                        <a href="{{site.linkedin}}"><span class="icon-social linkedin-active"></span></a>
                    </li>
                </ul>
            </div>
            {% endif %}

        </div>

        <hr class="jumbotron-hr">
        <p class="f-xs text-gray-light">&copy; {{site.title}}. All rights reserved</p>

    </div>
</footer>


<script src="{{ 'assets/js/jquery.js' | relative_url }}"></script>
<script src="{{ 'assets/js/tether.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/bootstrap.min.js' | relative_url }}"></script>
{% if page.title == 'Guide' %}<script src="{{ 'assets/js/masonry.pkgd.min.js' | relative_url }}"></script>{% endif %}
<script src="{{ 'assets/js/app.js' | relative_url }}"></script>