<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description | strip_html | normalize_whitespace }}">
    {% if page.url == "/404/" %}<meta http-equiv="refresh" content="8; url=/">{% endif %}


    <title>{% if page.title %}{{ page.title | strip_html | normalize_whitespace }} | {{site.title | strip_html |
        normalize_whitespace}}{% else %}{{ site.title | strip_html | normalize_whitespace }}{% endif %}</title>

    <link rel="icon" href="{{site.url}}{{site.baseurl}}/favicon.ico">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | strip_html }}"
          href="{{site.url}}{{site.baseurl}}/feed.xml">

    <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/assets/app.css">

    {% include google-analytics.html %}
    
    {% include fb-pixel.html %}

</head>
