<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="privacy-policy">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="text-right">
                <button type="button" class="close mr-3 mt-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body p-md-5">

                <h2 class="mb-5 f-sans">Privacy Policy</h2>

                <p>Help a Jew&nbsp;&ndash; Help the Holy Land has created this Privacy Policy to explain why we collect
                    particular
                    information and how we will protect your personal privacy within our Web site. The following
                    discloses our information gathering and dissemination practices for the Web site located at the URL
                    www.helpajew.com.</p>

                <p>In order to fully understand your rights, we encourage you to read this Privacy Policy as well as
                    our Terms of Use. Help a Jew&nbsp;&ndash; Help the Holy Land reserves the right at any time and
                    without notice
                    to change this Privacy Policy simply by posting such changes on our Site. Any such change will be
                    effective immediately upon posting.</p>

                <p>1. Because we want to demonstrate our commitment to your privacy, this Privacy Policy notifies you
                    of;</p>
                <p>2. What personally identifiable information of yours is collected through the Site;</p>
                <p>3. Who collects such information;</p>
                <p>4. How such information is used;</p>
                <p>5. With whom your information may be shared;</p>
                <p>6. What choices you have regarding collection, use and distribution of your information;</p>
                <p>7. What kind of security procedures are in place to protect the loss, misuse or alteration of
                    information under our control;</p>
                <p>8. and, How you can correct any inaccuracies in your information.</p>

                <p>Questions regarding this statement should be directed to Help a Jew&nbsp;&ndash; Help the Holy Land
                    by sending
                    an email to <a href="mailto:office@helpajew.com">office@helpajew.com</a>.</p>
                <p>Please reference this Privacy Policy in your subject line.</p>

                <h4 class="f-med mt-5 mb-3 f-sans">What Information We Collect and How We Use That Information</h4>
                <p>Our registration forms require users to give us contact information that may include name, email
                    address, format preference (HTML vs. Text), address, interests, and similar information. We do not
                    request or store sensitive information from our visitors, such as credit card or social security
                    numbers.</p>

                <h4 class="f-med mt-5 mb-3 f-sans">Internet Protocol Address</h4>
                <p>We may collect an IP address from all visitors to our Site. An IP address is a number that is
                    automatically assigned to your computer when you use the Internet. We use IP addresses to help
                    diagnose problems with our server, administer our Site, analyze trends, track users' movement,
                    gather broad demographic information for aggregate use in order for us to improve the site, and
                    deliver customized personalized content. IP addresses are not linked to personally identifiable
                    information.</p>

                <h4 class="f-med mt-5 mb-3 f-sans">Use of “Cookies”</h4>
                <p>Our Site may use cookies to enhance your experience while using our Site. Cookies are pieces of
                    information that some Web sites transfer to the computer that is browsing that Web site and are used
                    for record-keeping purposes at many Web sites. Use of cookies makes Web-surfing easier by performing
                    certain functions such as saving your passwords, your personal preferences regarding your use of the
                    particular Web site and to make sure you don't see the same ad repeatedly. Many consider the use of
                    cookies to be an industry standard.</p>

                <p>Your browser is probably set to accept cookies. However, if you would prefer not to receive cookies,
                    you can alter the configuration of your browser to refuse cookies. If you choose to have your
                    browser refuse cookies, it is possible that some areas of our Site will not function properly when
                    you view them.</p>

                <h4 class="f-med mt-5 mb-3 f-sans">Security</h4>
                <p>All information provided to Help a Jew&nbsp;&ndash; Help the Holy Land is transmitted using SSL
                    (Secure Socket
                    Layer) encryption. SSL is a proven coding system that lets your browser automatically encrypt, or
                    scramble, data before you send it to us. We also protect account information by placing it on a
                    secure portion of our Site that is only accessible by certain qualified employees of Help a Jew&nbsp;&ndash;
                    Help the Holy Land. Unfortunately, however, no data transmission over the Internet is 100% secure.
                    While we strive to protect your information, we cannot ensure or warrant the security of such
                    information.</p>

                <h4 class="f-med mt-5 mb-3 f-sans">Other Web Sites</h4>
                <p>Our Site contains links to other Web sites. Please note that when you click on one of these links,
                    you are entering another Web site for which Help a Jew&nbsp;&ndash; Help the Holy Land has no
                    responsibility.
                    We encourage you to read the privacy statements on all such sites as their policies may be different
                    than ours.</p>

                <h4 class="f-med mt-5 mb-3 f-sans">Contacting the Web Site</h4>
                <p>If you have any questions about this Privacy Policy, the practices of this Site, or your dealings
                    with this Site, you can contact Help a Jew&nbsp;&ndash; Help the Holy Land at
                    <a href="mailto:office@helpajew.com">office@helpajew.com</a></p>

            </div>

            <div class="text-right">
                <button type="button" class="close mr-3 mb-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        </div>
    </div>
</div>