<a class="card card-oblique bg-info f-sans" href="{{ 'how-we-help' | relative_url }}">

    <div class="card-block">
        <h4 class="my-1 text-uppercase text-white f-bold f-sm">How you can help</h4>



        <ul class="numbers">

            <li>
                <h5 class="text-gray-dark">Justice Served</h5>
                <p class="text-white">Helping individuals and&nbsp;changing the&nbsp;system</p>
            </li>


            <li>
                <h5 class="text-gray-dark">A Light in the Darkness</h5>
                <p class="text-white">Raising awareness and&nbsp;spreading hope</p>
            </li>

            <li>
                <h5 class="text-gray-dark">Into the Archives</h5>
                <p class="text-white">Making the&nbsp;burden of&nbsp;proof less of&nbsp;a&nbsp;burden</p>
            </li>

        </ul>

    </div>
</a>