<div class="card bg-primary card-inverse f-sans text-center card-oblique">
    <div class="card-block">
        <h6 class="text-uppercase text-white f-sans f-bold">Join our mailing list</h6>
        <p class="f-sm">Never miss an update</p>
        <p class="form-group mb-0">
            <input type="email" class="form-control text-center" aria-describedby="Your email"
                   placeholder="Your email">
            <button class="btn btn-outline-secondary btn-block mt-3">Subscribe</button>
        </p>
    </div>
</div>