<div class="card card-subscribe  card-primary card-inverse f-sans text-center" id="card-subscription">
    <div class="card-header no-borders p-0 text-right hidden-md-down">
        <button class="btn btn-link text-white card-subscribe-close f-xs">Dismiss</button>
    </div>
    <div class="card-block">
        <h6 class="text-uppercase text-white f-sans f-bold">Join our mailing list</h6>
        <p class="f-sm">Never miss an update</p>
        <p class="form-group">
            <input type="email" class="form-control text-center" aria-describedby="Your email"
                   placeholder="Your email">
            <button class="btn btn-outline-warning btn-block mt-3">Subscribe</button>
        </p>
    </div>
</div>