/* Homepage animation sequence */

.homepage {

  .jumbotron {
    position: relative;
    transform: scale(1.25);
    will-change: transform;
  }

  .jumbotron .jumbotron-overlay {
    will-change: background-color;
  }

  .a-1, .a-2, .a-3 {
    opacity: 0;
    will-change: opacity;
  }

  header {
    transform: translate3d(0, -100%, 0);
    will-change: transform;
  }

  .wrapper-home {
    @include media-breakpoint-up(md) {
      transform: translate3d(0, 15vh, 0);
      will-change: transform;
    }
  }

  &.isLoadedFirst {

    .jumbotron {
      transform: scale(1);
      transition: transform 12s;
    }

    .jumbotron .jumbotron-overlay {
      background-color: rgba($blue, .9);
      transition: background-color 2s 10s;
    }

    .a-1 {
      transition: opacity 1s 3s;
      opacity: 1;
    }

    .a-2 {
      transition: opacity 1s 6s;
      opacity: 1;
    }

    .a-3 {
      transition: opacity 1s 9s;
      opacity: 1;
    }

    header {
      transition: transform .3s 12s;
      transform: translate3d(0, 0, 0);
    }

    .wrapper-home {
      @include media-breakpoint-up(md) {
        transition: transform .3s 12s;
        transform: translate3d(0, -250px, 0);
      }
    }

    .footer-main {
      margin-top: -100px;
    }

  }

  &.isLoaded {

    .jumbotron {
      transform: scale(1);
    }

    .jumbotron .jumbotron-overlay {
      background-color: rgba($blue, .9);
    }

    .a-1, .a-2, .a-3 {
      opacity: 1;
      transition: opacity .5s .4s;
    }

    header {
        transform: translate3d(0, 0, 0);
        transition: transform .4s .2s;
    }

    .wrapper-home {
      @include media-breakpoint-up(md) {
        transform: translate3d(0, -250px, 0);
        transition: transform .4s .2s;
      }
    }

    .footer-main {
      @include media-breakpoint-up(md) {
        margin-top: -100px;
      }
    }

  }

}

