/* Homepage animation sequence */

.homepage {

  .jumbotron {
    position: relative;
    transform: scale(1.25);
    will-change: transform;
  }

  .jumbotron .jumbotron-overlay {
    will-change: background-color;
  }

  .a-1, .a-2, .a-3 {
    opacity: 0;
    will-change: opacity;
  }

  header {
    transform: translate3d(0, -100%, 0);
    will-change: transform;
  }

  .wrapper-home {
    transform: translate3d(0, 15vh, 0);
    will-change: transform;
  }

  &.isLoadedFirst {

    .jumbotron {
      transform: scale(1);
      transition: transform 12s;
    }

    .jumbotron .jumbotron-overlay {
      background-color: rgba(0, 0, 0, .75);
      transition: background-color 10s;
    }

    .a-1 {
      transition: opacity 1s 5s;
      opacity: 1;
    }

    .a-2 {
      transition: opacity 1s 7s;
      opacity: 1;
    }

    .a-3 {
      transition: opacity 1s 10s;
      opacity: 1;
    }

    header {
      transition: transform .3s 12s;
      transform: translate3d(0, 0, 0);
    }

    .wrapper-home {
      transition: transform .3s 12s;
      transform: translate3d(0, -10vh, 0);
    }

  }

  &.isLoaded {

    .jumbotron {
      transform: scale(1);
    }

    .jumbotron .jumbotron-overlay {
      background-color: rgba(0, 0, 0, .75);
    }

    .a-1, .a-2, .a-3 {
      opacity: 1;
      transition: opacity .5s .4s;
    }

    header {
      transform: translate3d(0, 0, 0);
      transition: transform .4s .2s;
    }

    .wrapper-home {
      transform: translate3d(0, -10vh, 0);
      transition: transform .4s .2s;
    }

  }

}

