// Buttons

.btn:not(.btn-link) {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  font-weight: 700;

  @include media-breakpoint-down(sm) {
    font-size: 80%;
  }

}

// Cards

.card-white {
  box-shadow: $dropdown-box-shadow;
  border: none;
}

.card-lightest {
  box-shadow: $dropdown-box-shadow;
  border-color: $gray-lightest;
  background-color: $gray-lightest;
}

.card-subscribe {
  position: fixed;
  z-index: 1000;
  bottom: 2rem;
  right: 0;
  width: 100%;
  max-width: 360px;
  box-shadow: $dropdown-box-shadow;
  transform: translate3d(100%, 0, 0);
  will-change: transform;
  transition: transform .1s;

  &:not(.isRemoved).isShown {
    transform: translate3d(-10%, 0, 0);
    transition: transform .4s;
  }

}

.card-oblique {
  border: none;
  background-color: $white;
  @extend .shadow-secondary;
  @include angle(before, $flip: true);
  @include angle(after, $flip: false);

  &.card-oblique-reverse {
    @include angle(before, $flip: false);
    @include angle(after, $flip: true);
  }

}

.card-shift-top {
  transform: translateY(-10vh);
}

// Forms

.form-check, .form-group, .form-control, .form-control-file {
  font-family: $font-family-sans-serif;
}

// Quotations

.img-quote {
  width: auto;
  height: 70px;
  display: inline-block;
  margin: 0 auto;
}

// Spinner

.spinner {
  display: none;
  position: fixed;
  z-index: 10;
  top: 1rem;
  right: 1rem;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjEiIGhlaWdodD0iNzAiIHZpZXdCb3g9IjAgMCA2MSA3MCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjAuMDMgNTIuNjA5bDEwIDE3LjMyMSAxMC0xNy4zMjFoMjBsLTEwLTE3LjMyMSAxMC0xNy4zMjFoLTIwbC0xMC0xNy4zMjEtMTAgMTcuMzIxaC0yMGwxMCAxNy4zMjEtMTAgMTcuMzIxaDIwem0xMCAxNS43ODFsLTkuMTExLTE1Ljc4MWgxOC4yMjJsLTkuMTEyIDE1Ljc4MXptLTkuNTU2LTE2LjU1MWwtOS41NTYtMTYuNTUxIDkuNTU2LTE2LjU1MWgxOS4xMTJsOS41NTYgMTYuNTUxLTkuNTU2IDE2LjU1MWgtMTkuMTEyem0zOC4yMjMgMGgtMTguMjIzbDkuMTEyLTE1Ljc4MSA5LjExMiAxNS43ODF6bTAtMzMuMTAybC05LjExMSAxNS43ODEtOS4xMTItMTUuNzgxaDE4LjIyMnptLTI4LjY2Ny0xNi41NTFsOS4xMTEgMTUuNzgxaC0xOC4yMjJsOS4xMTEtMTUuNzgxem0tMjguNjY3IDE2LjU1MWgxOC4yMjJsLTkuMTEyIDE1Ljc4MS05LjExMS0xNS43ODF6bTE4LjIyMyAzMy4xMDJoLTE4LjIyM2w5LjExMS0xNS43ODEgOS4xMTIgMTUuNzgxeiIgZmlsbD0iIzAwN0FGRiIvPjwvc3ZnPg==');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 3.5rem;
  height: 3.5rem;
  will-change: transform;
  animation: rotate 3s ease-out infinite;

}

.homepage .spinner {
  display: block;

  &.hideSpinner {
    display: none;
  }

}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

// Shadows
.shadow-main {
  box-shadow: $dropdown-box-shadow;
}

.shadow-secondary {
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.25);
}

// Columns

.card-columns {

  column-count: 1;

  .card {
    margin: 1rem;
    border: none;
  }

  @include media-breakpoint-up(md) {
    column-count: 2;
  }

  @include media-breakpoint-up(lg) {
    column-count: 3;
  }



}

// Helpers
.no-borders {
  border: none;
}

.no-shadow {
  box-shadow: none !important;
}

.bg-trans {
  background-color: transparent;
}

.bg-white {
  background-color: $white;
}