html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $gray-lightest;
}

body:not(.homepage) > .wrapper {
  padding-top: 55px;
  flex: 1;
}

.container-wide {
  max-width: 1360px;
  width: 100%;
}

header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  //background-color: rgba(0, 0, 0, 0.8);
  //background-color: rgba(255, 255, 255, 0.97);
  background-color: $white;
  box-shadow: $dropdown-box-shadow;

  .nav-link {
    padding: 1.1rem .75rem;
    white-space: nowrap;
    font-family: $font-family-sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-minus;
    font-size: .92rem;

    &.btn {
      font-weight: 900;
      padding-left: 1.7rem;
      padding-right: 1.7rem;
      font-size: 1.1rem;
      border-radius: 0;
    }

    &.nav-link-current {
      background-color: $gray-lighter;
      color: $black;
    }

  }

}

.subheader {
  padding-top: 2rem;
  background-color: $gray-lighter;
  color: darken($gray-lighter, 10%);
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  @include angle(after, $flip: false);
}

// It's for body.homepage only
.jumbotron {
  background-image: url('../assets/img/bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $black;
  margin: 0;
  min-height: 100vh;
  position: relative;

  .jumbotron-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    will-change: background-color;
  }

}

// It's for body.homepage only
.wrapper-home {
  position: relative;
  background-color: $gray-lightest;
  @include angle(before, $flip: true);
}

.footer-main {
  background-color: $navy;
  margin-top: 5rem;
  color: $white;
  @include angle(before, $flip: false);

  input, textarea {
    background-color: darken($blue, 25%);
  }

}

