body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $gray-lightest;
}

body:not(.homepage) > .wrapper {
  padding-top: 55px;
}

.container-wide {
  max-width: 1360px;
  width: 100%;
}

header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  box-shadow: $dropdown-box-shadow;
  letter-spacing: $letter-spacing-minus;

  .nav-link {
    padding: 1.1rem 1.4rem;
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    font-size: $font-size-sm * 1.1;
    font-weight: 700;

    &.btn {
      font-weight: 900;
      padding-left: 1.7rem;
      padding-right: 1.7rem;
      font-size: $font-size-base;
      border-radius: 0;
    }

    &.nav-link-current {
      background-color: $gray-lightest;
      color: $black;
    }

  }

}

.subheader {
  padding-top: 2rem;
  background-color: $white;
  color: darken($white, 10%);
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  @include angle(after, $flip: false);
}

.modal-menu {

  font-family: $font-family-sans-serif;

  .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: $font-size-h4;
    text-align: center;

    &.nav-link-current {
      color: $black;
    }

  }

}

// It's for body.homepage only
.jumbotron {
  background-image: url('../assets/img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $black;
  margin: 0;
  min-height: 100vh;
  position: relative;

  .jumbotron-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, .7);
    will-change: background-color;
  }

}

// It's for body.homepage only
.wrapper-home {
  position: relative;
  background-color: $gray-lightest;
  @include angle(before, $flip: true);
}

.footer-main {
  background-color: $navy;
  margin-top: 5rem;
  color: $white;
  @include angle(before, $flip: false);

  input, textarea {
    background-color: darken($blue, 25%);
  }

}


// Guide grid (Salvattore plugin)
.grid {

  @extend .clearfix;
  opacity: 0;
  animation: fadeout .2s .3s forwards;

  @keyframes fadeout {
    100% {
      opacity: 1;
    }
  }

  &[data-columns]::before {
    content: '1 .column.size-1of1';
    font-size: 0;
    @include media-breakpoint-up(md) {
      content: '2 .column.size-1of2';
    }
    @include media-breakpoint-up(lg) {
      content: '3 .column.size-1of3';
    }
  }

  .column {

    float: left;

    &:not(:first-child) {
      @include media-breakpoint-up(sm) {
        padding-left: 1.5rem;
      }
    }

    .grid-item {
      margin-bottom: 1.5rem;
    }

    &.size-1of1 {
      width: 100%;
    }
    &.size-1of2 {
      width: 50%;
    }
    &.size-1of3 {
      width: 33.333333%;
    }

  }

}

