// Text for mobile TODO: temporary, make a responsive font

@include media-breakpoint-down(sm) {

  body {
    font-size: 1rem;
  }

  .display-3 {
    font-size: 2rem;
  }

  .display-4 {
    font-size: 1.8rem;
  }

  h1, .h1 {
    font-size: 1.6rem;
  }

  h2, .h2 {
    font-size: 1.4rem;
  }

  h3, .h3 {
    font-size: 1.3rem;
  }

  .lead {
    font-size: 1.25rem;
  }

}

// Links

a, .btn-link {
  transition: .25s;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

// Sizes
.f-xs {
  font-size: $font-size-xs;
}

.f-sm {
  font-size: $font-size-sm;
}

.f-base {
  font-size: $font-size-base;
}

.f-lg {
  font-size: $font-size-lg;
}

// Weights
.f-light {
  font-weight: 200;
}

.f-normal {
  font-weight: $font-weight-base;
}

.f-med {
  font-weight: 600;
}

.f-bold {
  font-weight: 800;
}

.f-heavy {
  font-weight: 900;
}

// Fonts
.f-sans {
  font-family: $font-family-sans-serif;
}

.f-serif {
  font-family: $font-family-serif;
}

// Letter spacing
.f-ls-plus {
  letter-spacing: $letter-spacing-plus;
}

.f-ls-minus {
  letter-spacing: $letter-spacing-minus;
}

// Colors
.text-gray {
  color: $gray;
}

.text-gray-light {
  color: $gray-light;
}

.text-bright {
  color: $blue-bright;
}

.text-black {
  color: $black;
}

.text-red-light {
  color: lighten($red, 5%);
}

// Paragraphs
p {
  margin: 0;
  & + p {
    margin-top: 1.6rem;
  }
}