---
homepage: true
layout: default
---

{% include jumbotron.html %}

<div class="wrapper-home edge-oblique">

    <div class="container">

        <div class="row py-5">

            <div class="col-lg-6 offset-lg-1">

                <h1>Too many Jews are denied their right to return to Israel</h1>
                <p class="lead text-gray">We help Jews fight for their legal rights to repatriate and return to the Holy
                    Land of Israel</p>
                <p>When an American Jew wishes to return home to Israel, a rabbinical letter is enough to get the
                    immigration visa. However, in the Former Soviet Union (FSU), endless lists of documents and
                    paperwork can make repatriation impossible.</p>
                <p><em>Help a Jew. Help the Holy Land</em> is a charitable organization
                    to help those who have been denied their right to return to the Holy Land.</p>
                <p>
                <blockquote>
                    We are organizing Jewry for its coming destiny.
                    <div class="f-sm mt-2">— Theodor Herzl</div>
                </blockquote>
                </p>
                <p>The time of their homecoming is now, and you can be a part of the ingathering.</p>
                <a class="btn btn-outline-primary my-5" href="{{ 'our-story' | relative_url }}">Learn more about our
                    work</a>

            </div>

            <div class="col-lg-4 offset-lg-1 mt-4 mt-lg-0">

                {% include sidebar-programs.html %}

            </div>

        </div>

        <div class="card card-oblique card-oblique-reverse px-md-5 px-2 py-2 mt-5 text-center">
            <img class="img-quote" width="61" height="70" src="{{ 'assets/img/branch.svg' | relative_url }}">
            <p class="h3 text-primary pb-2 pt-3">“...I will make them one nation in the land...”</p>
            <div class="f-xs f-sans">Ezekiel, 37:22</div>
        </div>

    </div>

</div>