---
layout: default
---

<div class="subheader">

    <div class="container">
        <a href="{{ 'blog' | relative_url }}"><h2 class="text-uppercase display-4 f-med">
            Blog</h2></a>
    </div>

</div>

<div class="container py-5 mt-5">

    <div class="row">

        <div class="col-lg-7">

            {% unless page.thumbnail_image == empty %}
            <img class="mb-4" src="{{ page.thumbnail_image | relative_url }}" alt="Image">
            {% endunless %}

            <h1>{{ page.title }}</h1>
            <p class="f-sans f-sm text-gray-light">
                {{ page.date | date_to_long_string}}

                {% unless page.author == empty %}
                • {{ page.author }}
                {% endunless %}

            </p>

            {{ content }}

            <div class="bt-1 mt-4 pt-3 text-right">
                {% include socials.html %}
            </div>

            <div class="bt-1 mt-2 py-3">
                <div class="row">
                    {% if page.previous.url %}
                    <a class="col" href="{{page.previous.url}}">
                        <p class="f-xs f-sans text-gray-dark">←&nbsp;Previous</p>
                        {{page.previous.title}}
                    </a>
                    {% endif %}
                    {% if page.next.url %}
                    <a class="col text-right" href="{{page.next.url}}">
                        <p class="f-xs f-sans text-gray-dark">Next&nbsp;→</p>
                        {{page.next.title}}
                    </a>
                    {% endif %}
                </div>
            </div>

        </div>

        <div class="col-lg-4 offset-lg-1 mt-4 mt-lg-0">

            <div class="card card-white">
                <img class="card-img-top"
                     src="{{ site.posts.last.thumbnail_image | default: site.image-placeholder | relative_url }}"
                     alt="Image">
                <div class="card-block">
                    <p class="text-uppercase f-sans f-bold f-sm">Featured</p>
                    <h4 class="pt-3"><a href="{{ site.posts.last.url | relative_url }}">
                        {{site.posts.last.title}}</a></h4>
                    <p class="text-gray-light">{{site.posts.last.excerpt | remove: '
                    <p>' | remove: '</p>' | truncatewords:15 }}</p>
                </div>
            </div>

            <div class="card card-white bg-info mt-4">
                <div class="card-block">
                    <p class="text-uppercase text-white f-sans f-bold f-sm">New Tip</p>
                    <h4 class="pt-3"><a href="{{ site.posts.first.url | relative_url }}">
                        {{site.posts.first.title}}</a></h4>
                    <p>{{site.posts.last.excerpt | remove: '
                    <p>' | remove: '</p>' | truncatewords:15 }}</p>
                    <p><a href="{{ 'guide.html' | relative_url }}"
                          class="f-sans f-sm">See more tips in our helpful guid</a></p>
                </div>
            </div>

        </div>


    </div>

</div>